.login-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.login-form {
    padding: 20px 60px;
    max-width: 600px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
}

.login-form h1 {
    font-size: 28px;
}

.login-form input {
    margin-bottom: 10px;
}